<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter Contact</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <form>
          <ion-item>
            <ion-label floating>
              <ion-icon
                name="person-outline"
                item-start
                class="text-primary"
              ></ion-icon>
              Nom
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>
              <ion-icon
                name="person-outline"
                item-start
                class="text-primary"
              ></ion-icon>
              Prenom
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>
              <ion-icon
                name="call-outline"
                item-start
                class="text-primary"
              ></ion-icon>
              Telephone
            </ion-label>
            <ion-input type="tel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <ion-icon
                name="mail-outline"
                item-start
                class="text-primary"
              ></ion-icon>
              Email
            </ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>
              <ion-icon
                name="location-outline"
                item-start
                class="text-primary"
              ></ion-icon>
              Adresse
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-button expand="block">Block Button</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
