<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestion Contacts
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/img/home.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Application</ion-card-subtitle>
      <ion-card-title>Gestion Contacts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Gestion Contacts vous aide à gérer les contacts, les transactions et les
      tâches. Procurez-vous le meilleur outil de gestion des contacts pour votre
      Telephone.
    </ion-card-content>
  </ion-card>
</ion-content>
